.form-box
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    padding: 0 2em;
    box-sizing: border-box;
}

.sign-in-form
{
    width: 50%;
    height: 70%;
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 20px;
    box-sizing: border-box;
}

.admin
{
    background: aqua;
    padding: .7em 0;
    width: 75%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 100%;
    border: 1px solid aqua;
    border-radius: 20px;
}

form
{
    width: 100%;
    height: 85%;
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    box-sizing: border-box;  
    border: 2px solid aqua; 
    border-radius: 20px;
}
form input
{
    width: 75%;
    padding: 1em 2em;
    border: none;
    border: 2px solid aqua;
    border-radius: 20px;  
    background: rgba(11, 255, 255, 0.171);
    outline: none;
    font-size: 13px;
    color: white;
    box-sizing: border-box;
}

form input:focus
{
    border: 2px solid white;
    transition: all 1s ease-in;
    transition: all 1s ease-out;
}

form button
{
    padding: .7em 2em;
    font-weight: 900;
    font-size: 100%;
    border: 2px solid aqua;
    color: black;
    background-color: aqua;
    border-radius: 10px;
}

form button:hover
{
    border: 2px solid rgb(5, 104, 71);
    color: rgb(5, 104, 71);
    transition: all .5s ease-in-out;
}
.logo-box
{
    width: 50%;
    height: 100%;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box img
{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

@media only screen and (max-width: 768px)
{
    .form-box
    {
        flex-direction: column;
        gap: 0;
    }

    .sign-in-form
    {
        height: 40%;
        width: 100%;
    }
    .logo-box
    {
        display: none;
    }

    .admin
    {
        width: 100%;
    }
    
}